<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blank</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Aaron's Australian Bestiary</h1>
        <h4><a href="/api">Read My API Documentation</a></h4>
      </div>
    </div>
  </div>

  <form class="createNew" action="/api/animals">
    <input type="text" name="name" placeholder="New Animal Name!" required="">
    <input type="text" name="fact" placeholder="New Animal Fact!" required="">
    <input type="text" name="diet" placeholder="Add a Diet!" required="">
    <input type="text" name="gif" placeholder="Awesome Animal Gif!" required="">
    <input type="text" name="wiki" placeholder="Wiki Link!" required="">
    <input class="test" type="submit" name="submit" value="Create New">
  </form>

  <!-- <form class="editAnimal" action="index.html">
    <input type="text" name="_id" value="" placeholder="Animal Id!">
    <input type="text" name="gif" value="" placeholder="New Gif!">
    <input type="submit" name="submit" value="Change Gif!">
  </form> -->

  <div id="animalHolder">


    <script class="template" type="text/x-handlebars-template">
      {{#each animal}}
      <div class='row testing'>
        <div class='col-sm-2'>
          <img class='gifResize' src='{{gif}}'>
        </div>
        <div class="col-sm-9">
          <h3>The {{name}}</h3>
          <p>
            <b>Fun fact!</b> - {{fact}} <br>
            <b>Diet?</b> - {{diet}} <br>
          </p>
          <a href='{{wiki}}'> Learn More! </a>
        </div>
        <div class='col-sm-1 testing2'>
          <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
        </div>
      </div>
      {{/each}}

    </script>


  </div>

</body>
</html>
